<html>

  <head>
    <style>
    </style>
  </head>

  <body>
    <p>Please use this below password with email for login.
      Set your MPIN from the link below:
      {{link}}
    </p>
  </body>

</html>